{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static "styles/roboto.css" %}">
  <link rel="stylesheet" href="{% static "styles/material.min.css" %}">
  <link rel="stylesheet" href="{% static "styles/materialdesignicons.min.css" %}">
  <link rel="stylesheet" href="{% static "styles/base.css" %}">

  {% block style %}

  {% endblock %}
</head>
<body>
{% block content %}

{% endblock %}

<script src="{% static "scripts/jquery-3.1.0.min.js" %}"></script>
<script src="{% static "scripts/material.min.js" %}"></script>
<script src="{% static "scripts/socket.io.min.js" %}"></script>
<script src="{% static "scripts/navbar.js" %}"></script>

{% block script %}

{% endblock %}
</body>
</html>
