{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Discover
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "styles/discover.css" %}">
{% endblock %}

{% block content %}
  {% include "navbar.html" %}

  <ul>
    {% for question in questions %}
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <a href="/profile/{{ question.from_user.username }}" class="circle">
            <img src="/{{ question.from_user.profile.avatar }}" alt="Avatar">
          </a>
          <span>
            {{ question.from_user.username }}
              提出了问题
            <br>
          <a href="#">{{ question.title }}</a>
          </span>
          <span class="mdl-list__item-text-body">
              {{ question.content|safe }}
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <span class="mdl-list__item-secondary-info">Detail</span>
          <a class="mdl-list__item-secondary-action" href="#">
            <i class="mdi mdi-36px mdi-arrow-right-bold-circle"></i>
          </a>
        </span>
      </li>
    {% endfor %}
  </ul>

{% endblock %}

{% block script %}

{% endblock %}
