{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Ha Hu Θ..Θ
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "styles/index.css" %}">
{% endblock %}

{% block content %}
  {% include "navbar.html" %}

  <ul>
    {% for event in events %}
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <a href="/profile/{{ event.1.from_user.username }}" class="circle">
            <img src="/{{ event.1.from_user.profile.avatar.url }}" alt="Avatar">
          </a>
          <span>
            {{ event.1.from_user.username }}
            {% if event.0 == 'question' %}
              提了一个问题：<a href="/questions/{{ event.1.id }}">{{ event.1.title }}</a>
            {% elif event.0 == 'answer' %}
              回答了问题: <a href="/questions/{{ event.1.from_question.id }}">{{ event.1.from_question.title }}</a>
            {% elif event.0 == 'vote' %}
              给 {{ event.1.to_answer.from_user.username }} 的对
              <a href="/questions/{{ event.1.to_answer.from_question.id }}">
                {{ event.1.to_answer.from_question.title }}
              </a>的回答点了一个赞
            {% endif %}
            <br>
          </span>
          <span class="mdl-list__item-text-body">
            {% if event.0 == 'question' or event.0 == 'answer' %}
              {{ event.1.content|safe }}
            {% elif event.0 == 'vote' %}
              {{ event.1.to_answer.content|safe }}
            {% endif %}
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <span class="mdl-list__item-secondary-info">Detail</span>
          <a class="mdl-list__item-secondary-action" href="#">
            <i class="mdi mdi-36px mdi-arrow-right-bold-circle"></i>
          </a>
        </span>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
