{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Ha Hu Θ..Θ
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "styles/index.css" %}">
{% endblock %}

{% block content %}
  {% include "navbar.html" %}

  <ul>
    {% for event in events %}
      <li class="mdl-list__item mdl-list__item--two-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>
            {{ event.from_user_nickname }}
            {% if event.event_type == 'question' %}
              提了一个问题：{{ event.title }}
            {% elif event.event_type == 'answer' %}
              回答了问题: {{ event.question_title }}
            {% endif %}
          </span>

          <span class="mdl-list__item-sub-title">
            {{ event.content }}
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <span class="mdl-list__item-secondary-info">Detail</span>
          <a class="mdl-list__item-secondary-action" href="#">
            <i class="mdi mdi-36px mdi-arrow-right-bold-circle"></i>
          </a>
        </span>
      </li>
    {% endfor %}
  </ul>

{% endblock %}
