{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Ha Hu Θ..Θ
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "styles/index.css" %}">
{% endblock %}

{% block content %}
  {% include "navbar.html" %}

  <ul class="mdl-list" id="feed-stream">
    <template v-for="feed in feeds">
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <a href="/profile/$$ feed.username $$/" class="circle">
            <img :src="'/' + feed.avatar" alt="Avatar">
          </a>
          <span>
            <a href="/profile/$$ feed.username $$/">$$ feed.username $$</a>
              <span v-if="feed.event_type == 'question'">提出了问题</span>
              <span v-if="feed.event_type == 'answer'">回答了问题</span>
              <span v-if="feed.event_type == 'vote'">点赞了回答</span>
            <br>
          <a href="/questions/$$ feed.question_id $$/">$$ feed.title $$</a>
          </span>
          <span class="mdl-list__item-text-body">
              $$$ feed.content $$$
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <span class="mdl-list__item-secondary-info">Detail</span>
          <a class="mdl-list__item-secondary-action" href="#">
            <i class="mdi mdi-36px mdi-arrow-right-bold-circle"></i>
          </a>
        </span>
      </li>
    </template>
  </ul>

{% endblock %}

{% block script %}
  <script src="{% static "scripts/vue.min.js" %}"></script>
  <script src="{% static "scripts/index.js" %}"></script>
{% endblock %}
