{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Login
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "styles/login.css" %}">
{% endblock %}

{% block content %}

  {% if password_is_wrong %}
    <script>
      alert('Error!')
    </script>
  {% endif %}

  <form action method="post">
    {% csrf_token %}
    <div class="mdl-layout mdl-layout--fixed-header mdl-js-layout  mdl-color--white-100">
      <main class="mdl-layout__content main_content">
        <div class="login-form-div mdl-grid mdl-shadow--2dp">
          <div class="mdl-cell mdl-cell--12-col cell_con">
            <h3><strong>Log in</strong></h3>
          </div>
          <div class="mdl-cell mdl-cell--12-col cell_con">
            <i class="mdi mdi-24px mdi-account"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="id_username" name="username">
              <label class="mdl-textfield__label" for="id_username">Enter valid Username</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col cell_con">
            <i class="mdi mdi-24px mdi-lock"></i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="id_password" name="password">
              <label class="mdl-textfield__label" for="id_password">Enter Password</label>
            </div>
          </div>
          <div class="mdl-cell cell_con">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox">
              <input type="checkbox" id="checkbox" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label"><nobr>Remember Me</nobr></span>
            </label>
          </div>
          <div class="mdl-cell mdl-cell--12-col login-btn-con">
            <button type="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary btn">
              Log in
            </button>
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet links">
            <a href="/accounts/signup/" class="mdl-button--primary">Register now !</a>
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet links">
            <a class="mdl-button--primary">Forgot password ?</a>
          </div>
        </div>
      </main>
    </div>
  </form>
  <canvas id="canvas"></canvas>


{% endblock %}

{% block script %}
  <script src="{% static "scripts/dotbackground.js" %}"></script>
  <script src="{% static "scripts/login.js" %}"></script>
{% endblock %}
