<div id="navbar">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title nav-title"><a href="/">Ha 乎</a></span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">

        <button id="demo-menu-lower-left"
                class="mdl-button mdl-js-button mdl-button--icon">
          <i class="mdi mdi-dots-horizontal"></i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-left">
          <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a href="/questions/create/">提出问题</a></li>
          <li class="mdl-menu__item"><a href="/settings/">设置</a></li>
          <li class="mdl-menu__item"><a href="/accounts/logout/">登出</a></li>
        </ul>

        <a href="/accounts/login/" class="mdl-navigation__link" id="is_login"></a>

        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="/about/">About</a>
        <a class="mdl-navigation__link" href="/contact/">ContactUs</a>
      </nav>
      <!-- start search form -->
      <form action="/search/" method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="search-expandable">
            <i class="mdi mdi-magnify"></i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search-expandable"/>
            <label class="mdl-textfield__label" for="search-expandable">Search text</label>
          </div>
        </div>
      </form>
      <!-- end search form -->
    </div>
  </header>
</div>
