{% extends "base.html" %}

{% block title %}
  NewAnswer
{% endblock %}

{% block style %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "styles/new_answer.css" %}">
{% endblock %}

{% block content %}
  {% include "navbar.html" %}
  <div class="main-content">
    <iframe id="form-target" name="form-target"></iframe>
    <form id="img-form" action="/upload/" target="form-target" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input name="image" type="file" id="img-input">
    </form>

    <form action method="post">
      {% csrf_token %}
      <div class="mdl-textfield mdl-js-textfield editor-wrapper">
        <textarea id="id-textarea" name="answer-content"></textarea>
      </div>

      <div class="btn-wrapper">
        <button type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary submit-btn">
          Submit
        </button>
      </div>
    </form>

  </div>
{% endblock %}

{% block script %}
  <script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
  <script src="{% static "scripts/init_editor.js" %}"></script>
  <script src="{% static "scripts/new_answer.js" %}"></script>
{% endblock %}