{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Profile
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "styles/profile.css" %}">
{% endblock %}

{% block script %}
  <script>
    var username = '{{ user.username }}';
    var csrf_token = '{{ csrf_token }}';
  </script>
  <script src="{% static "scripts/profile.js" %}"></script>
{% endblock %}

{% block content %}
  {% include "navbar.html" %}

  <div id="profile" class="flex-center">
    <div class="mdl-card mdl-shadow--4dp card">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ user.username }}</h2>
        <span class="mdl-card__subtitle-text">
          {% if profile.gender == 1 %}
            <i class="mdi mdi-gender-male"></i>
          {% elif profile.gender == 2 %}
            <i class="mdi mdi-gender-female"></i>
          {% else %}
            <i class="mdi mdi-gender-male-female"></i>
          {% endif %}
        </span>
        &nbsp;&nbsp;&nbsp;
        <span class="mdl-card__subtitle-text">
          {{ profile.first_name }}&nbsp;&nbsp;{{ profile.last_name }}
        </span>
      </div>

      <div class="mdl-card__media">
        <img src="/{{ user.profile.avatar.url }}" alt="avatar" id="avatar">
        {% if cur_user != user and not relationship and not is_superuser %}
          <button id="follow-btn"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--white">
            关注
          </button>
        {% elif cur_user != user and relationship and not is_superuser %}
          <button id="follow-btn"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--white">
            已关注
          </button>
        {% elif is_superuser and user.is_active %}
          <button id="delete-btn"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red">
            注销用户
          </button>
        {% elif is_superuser and not user.is_active %}
          <button id="delete-btn"
                  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--red">
            已注销
          </button>
        {% endif %}
      </div>

      <div class="mdl-card__supporting-text">
        {{ user.profile.self_intro }}
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <span>积分: {{ profile.points }}</span>
        <span id="time">注册时间: {{ user.date_joined }}</span>
      </div>
    </div>

    {% if questions %}
      <div class="mdl-card mdl-shadow--4dp card list">
        <ul class="mdl-list">
          {% for question in questions %}
            <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <a href="/profile/{{ question.from_user.username }}/" class="circle">
                <img src="/{{ question.from_user.profile.avatar }}" alt="Avatar">
              </a>
              <span>
                  提出了问题
                <br>
              <a href="/questions/{{ question.id }}/">{{ question.title }}</a>
              </span>
              <span class="mdl-list__item-text-body">
                  {{ question.content|striptags }}
              </span>
            </span>
              <span class="mdl-list__item-secondary-content">
              <span class="mdl-list__item-secondary-info">Detail</span>
              <a class="mdl-list__item-secondary-action" href="/questions/{{ question.id }}/">
                <i class="mdi mdi-36px mdi-arrow-right-bold-circle"></i>
              </a>
            </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>

{% endblock %}
