{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Profile
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static "styles/profile.css" %}">
{% endblock %}

{% block content %}
  {% include "navbar.html" %}

  <div id="profile" class="flex-center">
    <div class="mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{ username }}</h2>
        <div class="mdl-card__subtitle-text">
          {% if profile.gender == 1 %}
            <i class="mdi mdi-gender-male"></i>
          {% elif profile.gender == 2 %}
            <i class="mdi mdi-gender-female"></i>
          {% else %}
            <i class="mdi mdi-gender-male-female"></i>
          {% endif %}
        </div>
      </div>

      <div class="mdl-card__media">
        <img src="" alt="avatar" id="avatar">
      </div>

      <div class="mdl-card__supporting-text">
        something here.
      </div>

      <div class="mdl-card__supporting-text">
        something here.something here.something here.something here.something here.something here.something here.
        something here.something here.something here.something here.something here.something here.something here.
      </div>

      <div class="mdl-card__actions mdl-card--border">
        积分: {{ profile.points }}
      </div>
    </div>
  </div>

{% endblock %}
