{% extends "base.html" %}

{% block title %}
  Question
{% endblock %}

{% block style %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "styles/question.css" %}">
{% endblock %}

{% block content %}
  {% include "navbar.html" %}
  <div class="token">{{ csrf_token }}</div>
  <div class="main-content">
    <div class="qeustion-wrapper">
      <div class="question-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">{{ question.title }}</h2>
        </div>
        <div class="mdl-card__supporting-text question-content">
          {{ question.content }}
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="/answers/create/{{ question.id }}/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Add Answer
          </a>
        </div>
        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="mdi mdi-36px mdi-share"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="answers-wrapper">
      {% for answer in question.answers %}
        <div class="answer-card mdl-card mdl-shadow--2dp" data-answer-id="{{ answer.id }}">
          <div class="mdl-card__title">
            <div class="avatar-wrapper">
              <img src="" alt="HEAD" class="avatar"/>
            </div>
            <h2 class="mdl-card__title-text">{{ answer.from_user.username }}</h2>
            <h2 class="mdl-card__title-text vote-num">{{ answer.vote_num }}</h2>
          </div>
          <div class="mdl-card__supporting-text question-content">
            {{ answer.content }}
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Comment
            </a>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect btn-share">
              <i class="mdi mdi-share"></i>
            </button>
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect btn-vote">
              <i class="mdi mdi-thumb-up"></i>
            </button>
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect btn-downvote">
              <i class="mdi mdi-thumb-down"></i>
            </button>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}

{% block script %}
<script src="{% static "scripts/question.js" %}"></script>
{% endblock %}
