{% extends "base.html" %}

{% block title %}
  Signup
{% endblock %}

{% block style %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "styles/signup.css" %}">
{% endblock %}

{% block content %}

  <form action method="post">
    {% csrf_token %}
    <div class="mdl-layout mdl-layout--fixed-header mdl-js-layout  mdl-color--white-100">
      <main class="mdl-layout__content main_content">
        <div class="login-form-div mdl-grid mdl-shadow--2dp">
          <div class="mdl-cell mdl-cell--12-col cell_con">
            <h3><strong>Sign up</strong></h3>
          </div>
          <div class="mdl-cell mdl-cell--12-col cell_con">
            <i class="material-icons">person</i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="id_username" name="username">
              <label class="mdl-textfield__label" for="id_username">Enter valid Username</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col cell_con">
            <i class="material-icons">lock</i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" id="id_password" name="password">
              <label class="mdl-textfield__label" for="id_password">Enter Password</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col cell_con">
            <i class="material-icons">settings_phone</i>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="email" id="id_email" name="email">
              <label class="mdl-textfield__label" for="id_email">Enter Email</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--12-col login-btn-con">
            <button type="submit"
                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary btn">
              Sign up
            </button>
          </div>
          <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet links">
            <a href="/accounts/login/" class="mdl-button--primary">Log in now !</a>
          </div>
        </div>
      </main>
    </div>
  </form>
  <canvas id="canvas"></canvas>

{% endblock %}

{% block script %}
  {% load staticfiles %}
  <script src="{% static "scripts/dotbackground.js" %}"></script>
  <script src="{% static "scripts/signup.js" %}"></script>
{% endblock %}
