.main-content {
	position: relative;
	margin-left: 10%;
	width: 80%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.title-wrapper {
	width: 100%;
}

.editor-wrapper {
	width: 100%;

	/*background-color: #FAFAFA*/
}

.btn-wrapper {
	width: 100%;
}

.submit-btn {
	width: 100%;
}

#form-target {
	display: none;
}

#img-form {
	width: 0px;
	height: 0;
	overflow: hidden;
}