#profile {
  flex-direction: column;
  margin: 3%;
}

.card {
  width: 1024px;
}

.mdl-card__media {
  background: rgb(64, 79, 179);
}

#avatar {
  width: 128px;
  height: 128px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#time {
  float: right;
}

.list {
  margin-top: 50px;
}

.circle {
  line-height: 0;
  display: inline-block;
  float: left;
  margin: 5px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: linear 0.25s;
  height: 4rem;
  width: 4rem;
}

.circle img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.circle:hover {
  transition: ease-out 0.2s;
  border: 2px solid rgba(255, 255, 255, 0.8);
  -webkit-transition: ease-out 0.2s;
}
